@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.About {
  &-section {
    &:not(:last-child) {
      margin-bottom: 60px;
    }

    h4 {
      padding-top: 10px;
      font-style: italic;
    }

    li {
      margin-left: 15px;
    }
  }

  &-profile-img {
    display: none;
    float: right;
  }

  @media (min-width: 840px) {
    &-profile-img {
      display: inline;
      margin: 0 0 40px 40px;
    }
  }
}
