@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.Job {
  &-title {
    span {
      font-weight: lighter;
    }
  }
  &-dates {
    @include font-size(14px);
    margin-bottom: 10px;
  }

  &-description {
    margin-bottom: 20px;
  }
}
