h1 {
  font-family: $title-font;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  @include font-size(24px);
  font-family: $text-font;
  font-weight: lighter;
}

h3 {
  @include font-size(20px);
}

p {
  @include font-size(16px);
  font-family: $text-font;
  font-weight: 300;
}

li {
  @include font-size(14px);
  font-family: $text-font;
}

a a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: $accent-color-dark;
}
