h1 {
  font-family: $title-font;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-family: $text-font;
  font-weight: 600;
  font-size: calc(24px + 0.5vw);
}

h3 {
  font-size: calc(24px + 0.5vw);
}

p {
  font-family: $text-font;
  font-size: calc(16px + 0.5vw);
  font-weight: 300;
}

li {
  font-family: $text-font;
  font-size: calc(14px + 0.5vw);
}

a a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
}
