$base-color-light: #fbf7f4;
$base-color-dark: #292929;
$highlight-color: #efc936;
$accent-color: #2ed8db;
$accent-color-dark: #149a9c;

$title-font: "Montserrat", sans-serif;
$text-font: "IBM Plex Serif", serif;
