.about {
  &-section {
    margin-bottom: 30px;
    padding-top: 30px;
  }

  &-subtitle {
    margin-bottom: 20px;
  }
  &-profile-img {
    display: none;
    float: right;
  }
}

@media (min-width: 840px) {
  .about-profile-img {
    display: inline;
  }
}
