.about {
  &-section {
    margin-bottom: 60px;

    h4 {
      padding-top: 10px;
      font-style: italic;
    }

    li {
      margin-left: 15px;
    }
  }

  &-subtitle {
    margin-bottom: 20px;
  }

  &-profile-img {
    display: none;
    float: right;
  }
}

@media (min-width: 840px) {
  .about-profile-img {
    display: inline;
    margin: 0 0 40px 40px;
  }
}
