.experiments {
  padding-top: 40px;

  & article + article {
    border-top: 4px solid $highlight-color;
  }

  article {
    padding-top: 40px;
    margin-bottom: 40px;

    & > * {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      padding-left: 5px;
      list-style: none;

      & > li {
        margin-right: 15px;
      }

      &:last-child {
        margin-right: 0;
      }

      li {
        position: relative;
        font-weight: bolder;
      }
      li:before {
        content: " ";
        position: absolute;
        top: 50%;
        right: 12%;
        z-index: -1;
        height: 80%;
        width: 100%;
        background-color: $accent-color;
      }
    }
  }
}

@media (min-width: 840px) {
  .experiments {
    article {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "pic title"
        "pic text"
        "pic tags";
      column-gap: 20px;

      h3 {
        grid-area: title;
        margin-bottom: 0;
        align-self: center;
      }

      img {
        grid-area: pic;
        justify-self: center;
      }

      ul {
        grid-area: tags;
      }
    }
  }
}
