@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.Header {
  position: relative;
  padding-top: 15px;
  background-color: $base-color-dark;
  color: $highlight-color;

  h1 {
    margin-bottom: 30px;
  }
}
