@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.Footer {
  padding: 1rem;
  border-top: 5px solid $accent-color;
  background-color: $base-color-dark;
  color: $highlight-color;

  p {
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 auto;
    max-width: 50%;
  }

  li {
    list-style: none;
    font-size: calc(30px + 0.5vw);

    a {
      color: $highlight-color;
    }

    button {
      border: none;
      color: $highlight-color;
      background-color: transparent;
      font-size: calc(30px + 0.5vw);
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }
}
