@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.Experiment {
  padding-top: 40px;

  > * {
    margin-bottom: 20px;
  }

  &-title {
    a {
      color: $base-color-dark;
    }
    a:hover {
      color: $accent-color-dark;
    }
  }

  &-screenshot {
    display: block;
  }

  &-screenshot:hover img {
    -webkit-filter: blur(2px);
    filter: opacity(70%);
  }

  &-links {
    i {
      margin-right: 10px;
    }
    color: $base-color-dark;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 5px;
    list-style: none;

    & > li {
      margin-right: 15px;
    }

    &:last-child {
      margin-right: 0;
    }

    li {
      position: relative;
    }

    li:before {
      content: " ";
      position: absolute;
      top: 50%;
      right: 12%;
      z-index: -1;
      height: 80%;
      width: 100%;
      background-color: $accent-color;
    }
  }

  &-description {
    li {
      list-style: disc;
      margin-left: 25px;
    }
  }
}
