.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  &-main {
    padding-top: 60px;

    @media (min-width: 940px) {
      margin: 0 auto;
      padding-left: 0;
      max-width: 900px;
    }
  }
}
