.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main {
  padding-top: 60px;
}

@media (min-width: 940px) {
  .main {
    margin: 0 auto;
    padding-left: 0;
    max-width: 900px;
  }
}
