@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.Portfolio {
  &-text {
    margin-bottom: 40px;
  }

  &-experiments {
    > * {
      margin-bottom: 40px;
      border-top: 4px solid $highlight-color;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
